/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

/* My styles */
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
button:hover {
  cursor: pointer;
}
form {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  & button {
    align-self: center;
    padding: 0.2rem 3rem;
  }
}
.players-form {
  display: flex;
  gap: 3rem;
}
.player-form {
  display: flex;
  flex-direction: column;
  & h2 {
    align-self: center;
  }
}
.boards {
  display: flex;
  gap: 10rem;
  & > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.player-one .board {
  display: flex;
  flex-direction: column;
}
.player-two .board {
  display: none;
  flex-direction: column;
}
.player-one .board-enemy {
  display: none;
  flex-direction: column;
}
.player-two .board-enemy {
  display: flex;
  flex-direction: column;
}
.board-enemy .square:hover {
  cursor: pointer;
}
.row,
.cols {
  height: 3rem;
  flex-shrink: 0;
  display: flex;
}
.square {
  width: 3rem;
  flex-shrink: 0;
  outline: 1px solid black;
}
.num,
.letter,
.empty {
  width: 3rem;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}
.turn-wrapper {
  font-size: 1.5rem;
}
.square.occupied {
  background-color: black;
}
.square.hit {
  background-color: red;
}
.square.missed {
  background-color: blue;
}
.square.sunk {
  background: grey;
}
